html,
body {
  background-color: grey;
  background: linear-gradient(
    -30deg,
    transparent 40%,
    #34ac54 40%,
    #34ac54 60%,
    transparent 60%
  );
  color: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
