html,
body {
  background-color: grey;
  background: linear-gradient(
    -30deg,
    transparent 40%,
    #34ac54 40%,
    #34ac54 60%,
    transparent 60%
  );
  color: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.center-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.topspace {
  margin-top: 10%;
}

.big-logo {
  width: auto;
  height: 200px;
}

.more-info-modal {
  min-width: 250px;
  min-height: 400px;
}

.width-limit {
  max-width: 900px;
}

.default-font {
  font-family: "Fredericka the Great", cursive;
}

.text-align {
  text-align: center;
}
