.timeline {
  --uiTimelineMainColor: var(--timelineMainColor, #222);
  --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);

  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.timeline:before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: var(--uiTimelineMainColor);

  position: absolute;
  top: 0;
}

.timelinegroup {
  position: relative;
}

.timelinegroup:not(:first-of-type) {
  margin-top: 4rem;
}

.timelineyear {
  padding: 0.5rem 1.5rem;
  color: var(--uiTimelineSecondaryColor);
  background-color: var(--uiTimelineMainColor);

  position: absolute;
  left: 0;
  top: 0;
}

.timelinebox {
  position: relative;
}

.timelinebox:not(:last-of-type) {
  margin-bottom: 30px;
}

.timelinebox:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--uiTimelineMainColor);

  position: absolute;
  left: 0;
  z-index: -1;
}

.timelinedate {
  margin-top: 2%;
  max-height: 80px;
  position: absolute;
  left: 0;

  box-sizing: border-box;
  padding: 0.5rem 1.5rem;
  text-align: center;

  border: solid 1px white;

  background-color: var(--uiTimelineMainColor);
  color: var(--uiTimelineSecondaryColor);
}

.timelineday {
  font-size: 1rem;
  font-weight: 700;
  display: block;
}

.timelinemonth {
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
}

.timelinepost {
  padding: 0.5rem 2rem;
  border-radius: 2px;
  border-left: 3px solid var(--uiTimelineMainColor);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  background-color: var(--uiTimelineSecondaryColor);
}

@media screen and (min-width: 641px) {
  .timeline:before {
    left: 30px;
  }

  .timelinegroup {
    padding-top: 55px;
  }

  .timelinebox {
    padding-left: 80px;
  }

  .timelinebox:before {
    top: 50%;
    transform: translateY(-50%);
  }

  .timelinedate {
    top: 50%;
    margin-top: -27px;
  }
}

@media screen and (max-width: 640px) {
  .timeline:before {
    left: 0;
  }

  .timelinegroup {
    padding-top: 40px;
  }

  .timelinebox {
    padding-left: 20px;
    padding-top: 70px;
  }

  .timelinebox:before {
    top: 90px;
  }

  .timelinedate {
    top: 0;
  }
}

.timeline {
  --timelineMainColor: #34ac54;
  font-size: 16px;
}

.page {
  max-width: 800px;
  padding: 1rem 2rem 3rem;
  margin-left: auto;
  margin-right: auto;
  order: 1;
}
